# dependencies
node_modules/

# next.js
.next/
out/
vercel/

# production
build/
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# local env files
.env*
*.local

# editor files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# misc
coverage/
.cache/

.env
